body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family:'Roboto', arial;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

/* ------------------------------------------------- */
                /* HEADER SECTION */
/* ------------------------------------------------- */

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
}

/* ------------------------------------------------- */
                /* BUTTONS SECTION */
/* ------------------------------------------------- */

  
.button-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.buttons {
    background-color: #1f2937;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: aliceblue;
    padding: 5px;
}

.buttons:hover {
    background-color: darkgrey;
}

.buttons:active {
    background-color: pink;
}
  
.slider-section {
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* ------------------------------------------------- */
                /* SKETCH PAD AND SQUARES SECTION */
/* ------------------------------------------------- */


.sketch-pad-square {
    width: 500px;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    border-color: #1f2937;
    border-style: solid;
    border-width: 10px;
}

.sketch-pad-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
  
.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
}

.small-box {
    border: 0.5px;
    border-color: #1f2937;
    border-style: solid;
    background-color: white;
    aspect-ratio: 1;
    flex-basis: calc(100%/2);    
}

/* ------------------------------------------------- */
                /* FOOTER SECTION */
/* ------------------------------------------------- */

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-top: auto;
    gap: 20px;
}

.footer-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#github-link {
    margin: 0;
    padding: 0;
}

#github-image {
    width: auto; /* Allow the image width to adjust based on its content */
    height: 25px; /* Set a specific height for the image if needed */
}


  